.grid {
  display: grid;
  grid-row-gap: 1em;
}

.grid-28 {
  grid-template-columns: repeat(28, 1fr);
}

.grid-30 {
  grid-template-columns: repeat(30, 1fr);
}

.grid-31 {
  grid-template-columns: repeat(31, 1fr);
}

.calendar {
  background: #FFFFFF;
  margin: 1em;
  padding-bottom: 1em;
  border-radius: .2em;
}

.month-header {
  padding: .5em;
  border-bottom: 1px solid #ADB5BD;
  margin-bottom: 0;
  font-weight: initial;
}

.day {
  align-items: center;
  background-color: #DEE2E6;
  border-bottom: 1px solid #ADB5BD;
  cursor: default;
  display: flex;
  height: 3em;
  justify-content: center;
}

.event {
  align-items: center;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: .1em;
}

/* .event:hover { */
/*   opacity: 0.75; */
/* } */

.day:not(.last-day) {
  border-right: 1px solid #ADB5BD;
}
